services:
  tpchgen:
    build:
      context: .
      dockerfile: /app/docker/tpchgen/DockerFile
    volumes:
      - ./app/data:/data

  spark:
    build:
      context: ./app
      dockerfile: docker/spark/DockerFile
    mem_limit: 16g
    cpus: 10
    volumes:
      - ./app/data:/data

  # pandas:
  #   build: app/docker/pandas
  #   volumes:
  #     - ./data:/data