services:
  tpchgen:
    build:
      context: .
      dockerfile: /app/docker/tpchgen/DockerFile
    volumes:
      - ./app/data:/data

  parquet:
    build:
      context: ./app
      dockerfile: docker/parquet/DockerFile
    volumes:
      - ./app/data:/data

  spark:
    build:
      context: ./app
      dockerfile: docker/spark/DockerFile
    mem_limit: 32g
    cpus: 8
    volumes:
      - ./app/data:/data

  pandas:
    build:
      context: ./app
      dockerfile: docker/pandas/DockerFile
    mem_limit: 32g
    cpus: 8
    volumes:
      - ./app/data:/data
