services:
  duckdb:
    build:
      context: ./app
      dockerfile: docker/duckdb/DockerFile

  spark:
    build:
      context: ./app
      dockerfile: docker/spark/DockerFile
    depends_on:
      - duckdb

  # pandas:
  #   build: app/docker/pandas
  #   volumes:
  #     - ./data:/data
  #   depends_on:
  #     - duckdb