services:
  tpchgen:
    build:
      context: .
      dockerfile: /app/docker/tpchgen/DockerFile
    platform: linux/amd64
    volumes:
      - ./app/data:/data

  parquet:
    build:
      context: ./app
      dockerfile: docker/parquet/DockerFile
    platform: linux/amd64
    shm_size: 4g
    mem_limit: 16g
    memswap_limit: 24g
    cpus: 8
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    volumes:
      - ./app/data:/data
#    depends_on:
#      - tpchgen

  spark:
    build:
      context: ./app
      dockerfile: docker/spark/DockerFile
    platform: linux/amd64
    shm_size: 4g
    mem_limit: 16g
    memswap_limit: 24g
    cpus: 8
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    volumes:
      - ./app/data:/data
#    depends_on:
#      - tpchgen
#      - parquet

  pandas:
    build:
      context: ./app
      dockerfile: docker/pandas/DockerFile
    platform: linux/amd64
    shm_size: 8g
    mem_limit: 16g
    memswap_limit: 24g
    cpus: 8
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    volumes:
      - ./app/data:/data
#    depends_on:
#      - tpchgen
#      - parquet
